@import "tailwindcss";

@custom-variant mobile (@media (max-width: 400px));
@custom-variant tablet (@media (min-width: 401px) and (max-width: 992px));

html {
  scrollbar-width: none;
}

body {
  background-color: rgba(241, 241, 241, 0.6);
}



@theme {
  --font-Roboto: 'Montserrat Variable', sans-serif;
}